<body>
    <div class="hbody">
        <img class logo src="../../public/images/space.jpg" alt="logo"> <h1>Facts of Space</h1>
    </div>
    <nav class="anav">
        <a href="/dashboard">Dashboard</a>
        <a href="/addpage">Add Pages</a>
        <a href="/pages">Edit Pages</a>
        <a href="/logout">Logout</a>

    </nav>
<nav></nav>