<body class="home-body">
    <div class="hbody">
        <img class logo src="../../public/images/space.jpg" alt="logo"> <h1>Facts of Space</h1>
    </div>
        <nav class="hnav"> 
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="Team">Team</a>
            <a href="Contact">Contact</a>
        </nav>

