<%- include('layouts/header.ejs'); -%>
<%- include('layouts/h_body.ejs'); -%>
<img class="aboutimg" src="../public/images/space2.jpg" alt="image">
<h2>About</h2>
<p>The universe is vast and mysterious with many unanswered questions about it. 
    Here are some interesting facts that might help you understand our cosmos better:</p>
    Here is a famous quote about it:</p>
    <p calss="quote">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THAT'S ONE SMALL STEP FOR MAN, ONE GIANT LEAP FOR MANKIND.</p>
<%- include('layouts/footer.ejs'); -%>