<%- include('layouts/header.ejs'); -%>
<%- include('layouts/h_body.ejs'); -%>
<div class="login">
    <form class="login-form" action="/login" method="Post">
        <label>Username</label>
        <input id="username" type="text" name="username" autofocus><br/>
  
        <label>Password</label>
        <input id="password" type="password" name="password"><br/>
        <br>
        <input type="submit" value="Login">
        <p id="errors">
          <div id="errors">
            <% if(typeof(error) != 'undefined') { %>
              <p class="errors"> <%= error %> </p>
          <%  } %>
          </div>
        </p>
    </form>

</div>
<%- include('layouts/footer.ejs'); -%>