<%- include('layouts/header.ejs'); -%>
<%- include('layouts/h_body.ejs'); -%>

<h2>Our Team</h2>

<div class="team-members">
    <div class="member">
        <h3>Nilaykumar Patel</h3>
        <p>Position: CEO</p>
        <p>Description: Nilaykumar is responsible for overseeing the overall direction and strategy of the company. With years of experience in leadership roles, he brings valuable insights and guidance to the team.</p>
    </div>
    <div class="member">    
        <h3>Drashti Bhavsar</h3>
        <p>Position: COO</p>
        <p>Description: Drashti leads our operational efforts, ensuring that day-to-day activities run smoothly and efficiently. With a strong focus on process improvement, she drives operational excellence across the organization.</p>
    </div>
</div>

<%- include('layouts/footer.ejs'); -%>
